.container {
    display: grid;
    grid-template-areas: 'one two three' ;
    grid-template-columns: 1fr 8fr 1fr;
    margin: 15px 10px 0 10px;
    box-shadow: 0 0 5px 1px #c2985d;
}

.userItem {
    border: 1px solid black;
    height: 100px;
}

.containerOne {
    grid-area: one;
    background: bisque;
    padding: 10px;
}

.avatar img {
    width: 70px;
    margin: 0 0 0 14px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #c2985d;
}

.btnFollowOrUnfollow .followBtn {
    width: 100px;
    background: #ffdeb7;
    box-shadow: 0 0 5px 1px #c2985d;
    border: none;
    cursor: pointer;
}

.btnFollowOrUnfollow .followBtn:hover {
    background: #ffbf7b;
    transition: ease-out .5s;
}

.btnFollowOrUnfollow .unFollowBtn {
    width: 100px;
    background: #ffbf7b;
    box-shadow: 0 0 5px 1px #c2985d;
    border: none;
    cursor: pointer;
}

.btnFollowOrUnfollow .unFollowBtn:hover {
    background: #ffdeb7;
    transition: ease-out .5s;
}

.containerTwo {
    grid-area: two;
    background: bisque;
    padding: 10px 0 10px 0;
}

.containerTwo .fullname {
    font-size: 22px;
}

.containerTwo .status {
    font-style: italic;
}

.containerThree {
    grid-area: three;
    background: bisque;
    padding: 10px 10px 10px 0;
}

.select {
    font-weight: bold;
    font-size: 20px;
}