.header {
    grid-area: header;
    background: #ffeeda;
    box-shadow: 0 0 5px 1px #c2985d;;
}

.logo {
    width: 60px;
    margin: 0 0 0 10px;
}

.loginBlock {
    float: right;
    font-size: 20px;
}

.loginBlock a {
    text-decoration: none;
    color: black;
}

.loginBlock img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}