.logo img {
    width: 1026px;
    height: 350px;
}

.information {
    display: grid;

    grid-template-columns: 1fr 3fr;
}

.avatar {
    padding: 20px;
}

.avatar img{
    width: 200px;
    box-shadow: 0 0 10px 2px #c2985d;
}

.description {

}

.name p {
    font-size: 22px;
}

.status p {
    font-style: italic;
}