.addNews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}

.textarea textarea {
    width: 455px;
    height: 40px;
}

.btnAddNews {
    padding: 0 0 0 10px;
}
.btnAddNews button {
    width: 100px;
    height: 44px;
    cursor: pointer;
    margin-bottom: 5px;
}

.addFile input {
    padding: 0 0 0 10px;
    width: 119px;
}
