.app-wrapper {
    display: grid;

    width: 1200px;
    margin: 0 auto;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "header header "
    "navbar content ";
    padding: 10px;
}

.app-wrapper-content {
    grid-area: content;
    margin: 10px 0 0 0;
    background: #ffeeda;
    box-shadow: 0 0 5px 1px #c2985d;

}